In [1]:
%reset -f

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("pokemon_use.csv", index_col=0)

In [4]:
legend_data = data[data.Legendary==1].copy()
not_legend_data = data[data.Legendary==0].copy()

In [5]:
legend_data.columns

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [6]:
legend_data_describe = pd.DataFrame([legend_data['HP'].describe(),legend_data['Attack'].describe(),legend_data['Defense'].describe(),legend_data['Sp. Atk'].describe(),
legend_data['Sp. Def'].describe(),legend_data['Speed'].describe()])

In [7]:
not_legend_data_describe = pd.DataFrame([not_legend_data['HP'].describe(),not_legend_data['Attack'].describe(),not_legend_data['Defense'].describe(),not_legend_data['Sp. Atk'].describe(),
not_legend_data['Sp. Def'].describe(),not_legend_data['Speed'].describe()])

# 传奇的属性

In [8]:
legend_data_describe

         count        mean        std   min    25%    50%    75%    max
HP        65.0   92.738462  21.722164  50.0   80.0   91.0  105.0  150.0
Attack    65.0  116.676923  30.348037  50.0  100.0  110.0  131.0  190.0
Defense   65.0   99.661538  28.255131  20.0   90.0  100.0  115.0  200.0
Sp. Atk   65.0  122.184615  31.104608  50.0  100.0  120.0  150.0  194.0
Sp. Def   65.0  105.938462  28.827004  20.0   90.0  100.0  120.0  200.0
Speed     65.0  100.184615  22.952323  50.0   90.0  100.0  110.0  180.0

In [9]:
legend_data['sum of values']=legend_data[['HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed']].sum(axis=1)

In [10]:
legend_data['sum of values'].describe()

count     65.000000
mean     637.384615
std       60.937389
min      580.000000
25%      580.000000
50%      600.000000
75%      680.000000
max      780.000000
Name: sum of values, dtype: float64

# 非传奇的属性

In [11]:
not_legend_data_describe

         count       mean        std   min   25%   50%   75%    max
HP       735.0  67.182313  24.808849   1.0  50.0  65.0  79.5  255.0
Attack   735.0  75.669388  30.490153   5.0  54.5  72.0  95.0  185.0
Defense  735.0  71.559184  30.408194   5.0  50.0  66.0  85.0  230.0
Sp. Atk  735.0  68.454422  29.091705  10.0  45.0  65.0  85.0  175.0
Sp. Def  735.0  68.892517  25.669310  20.0  50.0  65.0  85.0  230.0
Speed    735.0  65.455782  27.843038   5.0  45.0  64.0  85.0  160.0

In [12]:
not_legend_data['sum of values']=not_legend_data[['HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed']].sum(axis=1)

In [13]:
not_legend_data['sum of values'].describe()

count    735.000000
mean     417.213605
std      106.760417
min      180.000000
25%      324.000000
50%      425.000000
75%      498.000000
max      700.000000
Name: sum of values, dtype: float64